{% extends "base.html" %}
{% block title %}Edytuj wycieczkę{% endblock %}
{% block content %}
<h3><i class="fa-solid fa-pen"></i> Edycja wycieczki</h3>
<form method="post" class="mb-4" style="max-width: 500px;">
  <div class="mb-3">
    <label class="form-label">Nazwa wycieczki</label>
    <input type="text" class="form-control" name="trip_name" value="{{ trip.name }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Opis (opcjonalnie)</label>
    <textarea class="form-control" name="trip_desc" rows="3">{{ trip.description }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
  <a href="{{ url_for('archive_view', trip_id=trip._id) }}" class="btn btn-secondary ms-2">Anuluj</a>
</form>
{% endblock %}
